framework: netcoreapp2.2

source https://api.nuget.org/v3/index.json

nuget FluentMigrator
nuget FluentMigrator.Runner
nuget Microsoft.AspNetCore.App
nuget Microsoft.AspNetCore.Razor.Design
nuget Microsoft.AspNetCore.TestHost
nuget Microsoft.EntityFrameworkCore.Proxies
nuget Microsoft.EntityFrameworkCore.SqlServer
nuget Moq
nuget xunit
nuget xunit.runner.visualstudio