<div class="row justify-content-center">
    <div class="col-xl-5 col-lg-6 col-md-9">
        <div class="card border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h1 mb-4">500</h1>
                            </div>
                            <div class="text-center">
                                <p>Internal Server Error!</p>
                            </div>
                            <div class="h6 text-center">
                                <small>Trace Identifier: @ViewBag.TraceIdentifier</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>