@model IEnumerable<Homebank.Core.Entities.Category>

<div class="row">
    <div class="col-12">
        <div class="card text-white border-0">
            <div class="card-header bg-secondary">
                <span>Categories</span>
                <a asp-controller="Category" asp-action="Add" class="btn btn-sm btn-primary float-right">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
            <div class="card-body p-0">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>In use</th>
                            <th>Active</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model)
                        {
                            <tr>
                                <td>@category.Name</td>
                                <td>
                                    @if (category.Transactions.Count() > 0 || category.Templates.Count() > 0)
                                    {
                                        <i class="fas fa-check"></i>
                                    }
                                </td>
                                <td>
                                    @if (category.Active)
                                    {
                                        <i class="fas fa-check"></i>
                                    }
                                </td>
                                <td>
                                    <a asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id" class="btn btn-sm btn-success">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    @if (category.Transactions.Count() == 0 && category.Templates.Count() == 0)
                                    {
                                        <a asp-controller="Category" asp-action="Remove" asp-route-id="@category.Id" class="btn btn-sm btn-danger" onclick="return confirm('Do you really want to delete \'@category.Name\'?')">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>