@model IEnumerable<Homebank.Core.Entities.Category>

<div class="page-header">
	<div class="btn-group pull-right">
		<a href="@Url.Action("Add", "Category")" class="btn btn-primary">Add</a>
	</div>
	<h1>Categories</h1>
</div>

<div class="row">
	<div class="col-md-12 col-sm-12">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>In use</th>
					<th>Active</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var category in Model)
				{
					<tr>
						<td>@category.Name</td>
						<td>
							@if (category.Transactions.Count() > 0 || category.Templates.Count() > 0)
							{
								<span class="glyphicon glyphicon-ok"></span>
							}
						</td>
						<td>
							@if (category.Active)
							{
								<span class="glyphicon glyphicon-ok"></span>
							}
						</td>
						<td>
							@Html.ActionLink("Edit", "Edit", "Category", new { id = category.Id }, new { @class = "btn btn-primary btn-sm" })

							@if (category.Transactions.Count() == 0 && category.Templates.Count() == 0)
							{
								@Html.ActionLink("Remove", "Remove", "Category", new {id = category.Id}, new {@class = "btn btn-danger btn-sm", onclick = "return confirm('Do you really want to delete \"" + category.Name + "\"?')"})
							}
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>