<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net45" />
  <package id="bootstrap" version="3.3.2" targetFramework="net45" />
  <package id="DotNet.Highcharts" version="4.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
  <package id="FluentMigrator" version="1.6.1" targetFramework="net45" />
  <package id="FluentMigrator.Runner" version="1.6.1" targetFramework="net45" />
  <package id="Foolproof" version="0.9.4518" targetFramework="net45" />
  <package id="jQuery" version="2.1.3" targetFramework="net45" />
  <package id="jQuery.mmenu" version="4.2.1" targetFramework="net45" />
  <package id="jquery.mobile" version="1.4.5" targetFramework="net45" />
  <package id="jQuery.UI.Combined" version="1.11.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" />
  <package id="Ninject.MVC3" version="3.2.1.0" targetFramework="net45" />
  <package id="Ninject.Web.Common" version="3.2.3.0" targetFramework="net45" />
  <package id="Ninject.Web.Common.WebHost" version="3.2.3.0" targetFramework="net45" />
  <package id="OctoPack" version="3.0.60" targetFramework="net45" developmentDependency="true" />
  <package id="Select2.js" version="3.5.2" targetFramework="net45" />
  <package id="WebActivatorEx" version="2.1.0" targetFramework="net45" />
  <package id="WebGrease" version="1.6.0" targetFramework="net45" />
</packages>