@model Homebank.Web.Models.SettingsModel


<div class="row">
    <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card">
            <div class="card-header">
                <h4>Settings</h4>
            </div>
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="p-5">
                            <form asp-controller="User" asp-action="Settings" method="post">
                                <input type="hidden" asp-for="OriginalName" />
                                <div class="form-group row">
                                    <label asp-for="Name" class="col-sm-5 col-form-label"></label>
                                    <div class="col-sm-5">
                                        <input type="text" asp-for="Name" asp-invalid-for="Name" class="form-control" placeholder="Name" value="@Model?.Name" />
                                        <span asp-validation-for="Name" class="invalid-feedback"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="OldPassword" class="col-sm-5 col-md-5 col-form-label">Current Password</label>
                                    <div class="col-sm-5 col-md-5">
                                        <input type="text" asp-for="OldPassword" asp-invalid-for="OldPassword" class="form-control" placeholder="Current Password" value="" />
                                        <span asp-validation-for="OldPassword" class="invalid-feedback"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="NewPassword" class="col-sm-5 col-md-5 col-form-label">New Password</label>
                                    <div class="col-sm-5 col-md-5">
                                        <input type="text" asp-for="NewPassword" asp-invalid-for="NewPassword" class="form-control" placeholder="New Password" value="" />
                                        <span asp-validation-for="NewPassword" class="invalid-feedback"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="NewPasswordRepeat" class="col-sm-5 col-md-5 col-form-label">Confirm Password</label>
                                    <div class="col-sm-5 col-md-5">
                                        <input type="text" asp-for="NewPasswordRepeat" asp-invalid-for="NewPasswordRepeat" class="form-control" placeholder="Confirm Password" value="" />
                                        <span asp-validation-for="NewPasswordRepeat" class="invalid-feedback"></span>
                                    </div>
                                </div>
                                <button asp-controller="Home" asp-action="Index" class="btn btn-danger">Cancel</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>