<div class="container">
	<div class="row">
		<div class="jumbotron">
			<h1>Homebank</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<img src="~/Content/add-transaction.png" alt="..." class="img-thumbnail">
			<h2>Easy to use</h2>
			<p>Create an account, a category and book your first entry!</p>
			<p>No compilcated double entry accounting. Simple to use for standard users.</p>
		</div>
		<div class="col-md-4">
			<img src="~/Content/overview.png" alt="..." class="img-thumbnail">
			<h2>Focuses on your balance</h2>
			<p>Homebank focuses on your current balance.</p>
			<p>For most users this is the main idea of using such a tool. Keep track of your expenses and see what's left so you don't spend to much money!</p>
		</div>
		<div class="col-md-4">
			<img src="~/Content/template.png" alt="..." class="img-thumbnail">
			<h2>Templates</h2>
			<p>You have countless of recurring entries? Bored of inserting the same data again and again?</p>
			<p>Homebank has templates for such things! Create a template for you daily lunch expenses. Click on this template to create a new entry, enter the expense and click ok. Everything else will be prefilled for you.</p>
		</div>
	</div>
</div>